h2 {
    margin-bottom: 50px;
    position: relative;
    
 }
 
 .box {
     position: relative;
     top: 90px;
     border: 2px solid rgb(230, 230, 230);
     margin-left: 550px;
     margin-right: 550px;
     padding-top: 30px;
     padding-bottom: 50px;
     padding-left: 50px;
     padding-right: 50px;
     
 }
 
 
 div.title {
     position: relative;
 }

span1 {
    color: #ff81ce;
}

span2 {
    color: #ed88d2;
}

span3 {
    color: #aaa2de;
}

span4 {
    color: #55c3ef;
}

span5 {
    color: #11defc;
}

span6 {
    color: #00e4ff
}
